<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="text" name="username" value="" placeholder="用户名"></p>
    {{ form.errors.username }}
    <p><input type="password" name="password1" value="" placeholder="密码"></p>
    {{ form.errors.password1 }}
    <p><input type="password" name="password2" value="" placeholder="再次输入密码"></p>
    {{ form.errors.password2 }}
    <p><input type="text" name="age" value="" placeholder="年龄"></p>
    {{ form.errors.age }}
    <p><input type="radio" name="gender" checked="checked" value="1">男
    <input type="radio" name="gender" value="0">女</p>
    <p><input type="text" name="email" value="" placeholder="邮箱"></p>
    {{ form.errors.email }}
    <p><input type="file" name="icon"></p>
    {{ form.errors.icon }}
     <p><input type="submit" value="注册"></p>
</form>
</body>
</html>